<div class="container text-center">
  <h2>Testimonials</h2>
</div>
<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, accusantium. Praesentium, rem illo, veritatis, expedita accusantium porro ducimus a excepturi magni quos temporibus ipsa dolor reiciendis hic velit ex incidunt.</p>– Name of person</li>
    <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, accusantium. Praesentium, rem illo, veritatis, expedita accusantium porro ducimus a excepturi magni quos temporibus ipsa dolor reiciendis hic velit ex incidunt.</li>
    <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, accusantium. Praesentium, rem illo, veritatis, expedita accusantium porro ducimus a excepturi magni quos temporibus ipsa dolor reiciendis hic velit ex incidunt.</li>
  
  </ul>
</div>