/*
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar, .home-callout {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #ab4116;
  &:hover {
    color: #ab4116;
    opacity: 0.75;
  }
}

.home-callout {
  color: #ab4116;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
